@font-face {
  font-family: 'LCD-Solid';
  src: url('../fonts/LCD-Solid.ttf.79f94f7a.woff') format('woff');
}

@font-face {
  font-family: 'Overpass';
  src: url('../fonts/Overpass.woff2') format('woff2');
}